
#subir_imagenes .modal{
    width: 90%;
    height: 90%;
    max-height: 90%;
;
}
#subir_imagenes .modal{
    width: 90%;
    height: 90%;
    max-height: 90%;
;
}
.img-container {
    height: 410px;
}

.marketing{
    height: 500px;
}

.marketing .modal-body{
    height: 368px;
    overflow: scroll;
}