/*/ Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 599px) {
    .imageContainer {
        height: 188px;
    }
    a.wts_btn {

        padding: 0px;
        margin: 0px;
        width: 100%;
    }
    h3 {
        font-size: 2.5rem;
    }
    .img-container {
        height: 200px;
    }

    #floating_menu {
        bottom: 100px;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 600px) and (max-width: 992px) {
body{font-size: 0.9rem}
}

/*/ Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {

}

/*/ Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}