/*UTILIDADES*/
.texto_naranja {
    color: #fb8c00;
}

/*section#top {
    position: absolute;
    z-index: 2;
    width: 100%;
}*/

div#top_contac_info {
    color: #fff;
    width: 100%;
    padding: 1vh 0 0 0;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 1vh;
    height: 9vh;
}
div#logo_menu_container {
    height: 11vh;
}
img#logo_img {
    height: 100%;
}
/*
*Materialize override
*/

#menu nav {
    background-color: transparent;
    box-shadow: none;
}

#menu nav ul a {
    color: #f97307;
    font-size: 1.3em;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.2s ease;
}
#menu nav ul a:hover {
    color: #fff;
    background-color: rgba(249, 115, 7, 0.71)
}
/*BANNER*/
#movil_header{
    height: 11vh;
}
section#banner {
    margin-bottom: 3vh;
}
.carousel {
    width: 100%;
    height: auto;
}


/*Banners ads*/
.hoverable {
    border: #d0cfcf 3px solid;
}

/*INNER TOP*/
div#inner_top {
    height: 9vh;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    border-bottom: #a2a2a2 solid 5px;
}
div#content_space{
    height: 11vh;
}

.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #fb8c00 ;
    will-change: left, right;
}
.tabs .tab a:hover, .tabs .tab a.active {
    background-color: #ef6c00;
    color: #fff;
}
.tabs .tab a {
    color: #e65100 ;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 24px;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-transition: color .28s ease;
    transition: color .28s ease;
}
#datos_vehiculo {
    padding: 0 .2rem;
}
#datos_vehiculo .card {
    margin: .2rem 0 0.2rem 0;
}
/*Boostrap override*/



img.camera_thumb {
    height: 70px;
}

.imageContainer {
    height: 150px;
    overflow: hidden;
}
div#camera_wrap_1 {
    height: 50vh;
}
/*Vista de carro*/
span.detalle_item_titulo {
    margin-right: 1vw;
}

#datos_contacto .chip {
    font-size: 25px;
}
.chipi.material-icons{
    font-size: 20px;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #f57c00;
}
.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #ef6c00;
}

/*Anunciate */

#anunciate_wrap .card-title {
    font-weight: bolder;
}
#anunciate_wrap .card-content{
    padding: 0px;
}

/*Slider costum*/
.slider-selection.tick-slider-selection {
    background-image: linear-gradient(to bottom, #fd9a07 0, #b76007 100%);
}

.slider-handle {
    background-image: linear-gradient(to bottom, #df4314 0, #be4004 100%);
}

.slider-tick.in-selection {
    background-image: linear-gradient(to bottom, #f5b39e 0, #d2835e 100%);
}



/*Text helpers*/
.bold{
    font-weight: bold;
}

.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

.buscar_img_mask {
    width: 100%;
    display: block;
    overflow: hidden;
    height: 220px;
}

.buscar_img_mask_list {
    float: left;
    margin-left: 5vw;
    width: 31vw;
}
/*Vista de carro*/

#calculador_carro input, #calculador_carro input[type=number]:not(.browser-default){
    margin: 0;
    height: 1rem;
}

#credito_carro_modal{

}


#calculo_carro{

}
#calculo_carro.card .card-content {
    padding: 5px;
    border-radius: 0 0 2px 2px;
}

#calculo_carro .collection-item{
    padding: 3px 3px;
}

#credito_carro_modal .collection a.collection-item {
    color: #f57c00;
}
#credito_carro_modal .collection .collection-item.active {
    background-color: #f57c00;
    color: #eafaf9;
}

i.small {
    font-size: 1.5rem;
}

/*colors override*/
.orange.darken-1 {
    /*background-color: #e79637 !important;*/
}

/*Pagination*/
.pagination li.active {
    background-color: #e65100;
}

.page-footer {
    border-top: 5px solid #a9a9a9;
}



@media only screen and (max-width: 600px){
    img.camera_thumb {
        height: 15vh;
    }
}


@media only screen and (max-width: 600px){
    img.camera_thumb {
        height: 15vh;
    }

    div#camera_wrap_1 {
        height: 21vh;
    }
    h1 {
        font-size: 3.2rem;
    }
}

@media only screen and (min-width: 993px){
    .container {
        width: 90%;
    }
}
@media screen and (min-width: 1366px) {

    div#camera_wrap_1 {
        height: 31vh;
    }

}
